.grid{
    /* to display them in a grid in a flexed way 3x3 */
    height: 606px;
    width: 606px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    height: 200px;
    width: 200px;
    border: 1px solid #000;
}

/* the mole class */
.mole{
    background-image: url('blank.png');
    background-size: cover;
    /* //to use a color instead, background-color: blue;*/
}