*{
    margin: none;
    padding:  none;
}
body{
    font-family: system-ui, -apple-system,'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background: gainsboro;
}
ul li{
    list-style-type: none;
    text-align: center;
}
button{
    width: 100px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.504);
}
